*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.object{
    margin: 100px auto;
    width: 500px;
    height: 500px;
    padding: 40px 60px;
    background-color: #eee;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header{
    z-index: 1;
}

.section{
    position: relative;
    width: 100%;
    height: 70%;
    bottom: 35px;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.section::after{
    content: "A+";
    position: absolute;
    bottom: -20px;
    right: 17px;
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color: #3E78BD;
    border-radius: 8px;
}

.title{
    height: 20%;
    padding-top: 15px;
    text-align: center;
}

.title h3{
    color: #3E78BD;
    font-size: 25px;
}

.title p{
    margin-top: 4px;
    color: #777;
}

.contact{
    width: 100%;
    height: 50%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #eee;
}

.contact div{
    margin-bottom: 10px; 
    padding: 10px;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}